<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title%>—编辑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
    <script src="../javascripts/angular.min.js"></script>
    <script src="../javascripts/angular-resource.min.js"></script>
    <script src="../javascripts/angular-route.min.js"></script>
    <script src="../javascripts/angular-animate.js"></script>
    <script src="../javascripts/angular-sanitize.js"></script>
    <script src="../javascripts/blogeditctrl.js"></script>
    <script src="../javascripts/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="../kindeditor/themes/default/default.css" />
    <script charset="utf-8" src="../kindeditor/kindeditor-all.js"></script>
    <script charset="utf-8" src="../kindeditor/lang/zh-CN.js"></script>
</head>
<body ng-app="myapp">
        <div class="content">
            <div style="text-align:center" ng-view> </div>
        </div>
</body>
</html>