<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title%></title><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-resource.min.js"></script>
    <script src="javascripts/angular-route.min.js"></script>
    <script src="javascripts/ctrl.js"></script>
    <script src="javascripts/ui-bootstrap-tpls.min.js"></script>
</head>
<body ng-app="myapp">
    <div class="" style="text-align:center" ng-view></div>
</body>
</html>